* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(37, 36, 36);
}


.welcome {
display: flex;
flex-direction: column;
align-items: center;
font-size: 2rem;
margin-top: 5rem;
color: aqua;
}



@media (max-width: 712px) {
  .welcome {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .welcome {
    font-size: 0.6rem;
  }
}

